.banner {
  height: 480px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/ricardo-gomez-angel-UrOZTfXT0h0-unsplash%20(1).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}