<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header>
    <div class="container d-flex justify-content-center pt-6 pb-6 position-relative">
      <h1 class="text-primary text-center">EXHIBINECTION</h1>
      <ul class="sign-menu d-flex justify-content-between align-items-center list-unstyled">
        <li><a href="#" class="text-dark d-none d-md-block me-md-12">Sign in</a></li>
        <li><a href="#" class="text-dark d-none d-md-block me-md-12">Sign up</a></li>
        <li><a href="#" class="text-dark"><span class="material-icons">
              confirmation_number
            </span></a></li>
      </ul>
    </div>
    <div class="banner w-100 d-flex align-items-md-center align-items-end">
      <div class="container d-flex flex-column mb-7 mb-md-0">
        <h2 class="text-white fw-bold fs-2 mb-2">台北當代藝術展</h2>
        <p class="text-white fw-bold fs-20 mb-3">01 JUN - 31 OCT</p>
        <div class="d-flex">
          <button type="button" class="btn btn-pink me-3 me-md-2 ps-5 pe-5">購買票劵</button>
          <button type="button" class="btn btn-outline-light ps-5 pe-5">詳細資訊</button>
        </div>
      </div>
    </div>
    <div class="nav-scroller mb-9 mb-md-10">
      <nav class="container nav justify-content-md-center" aria-label="Secondary navigation">
        <a class="nav-link active" aria-current="page" href="#">音樂</a>
        <a class="nav-link" href="#">戲劇</a>
        <a class="nav-link" href="#">設計</a>
        <a class="nav-link" href="#">藝術</a>
        <a class="nav-link" href="#">美食</a>
        <a class="nav-link" href="#">旅遊</a>
        <a class="nav-link" href="#">電影</a>
        <a class="nav-link" href="#">親子</a>
        <a class="nav-link" href="#">期間限定</a>
      </nav>
    </div>
  </header>

  <%- contents %>

    <footer class="footer">
      <div class="foot-banner d-flex align-items-end pb-8">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 text-white">
              <h2>想收到最新消息嗎？ 快訂閱我們！</h2>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="Recipient's username"
                  aria-describedby="button-addon2">
                <button class="btn btn-pink" type="button" id="button-addon2">訂閱</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <h4>EXHIBINECTION</h4>
            <p>© 2020. All Rights Reserved.</p>
          </div>
          <ul class="d-flex list-unstyled">
            <li><a href="#" class="text-dark">Sign in</a></li>
            <li><a href="#" class="text-dark">Sign up</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>